/*💟*/
/***********
    Imagen 
***********/
.logo-grande {
  margin: 0;
  padding: 0;
  align-self: center;
  margin-top: 6rem;
}

.logo-grande img {
  width: 140px;
  height: auto;
}

/* [Query] TABLET & DESKTOP  */
@media (min-width: 768px) {
  .logo-grande img {
    width: 220px; /* Tamaño para tablets */
  }

  .logo-grande{
    margin-top: 4rem;
  }
}

/*💟*/
/**************
  M e n s a j e 
*************/

.login-p {
  width: 480px;
  align-self: center;
  text-align: center;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 28px;
}

/* [Query] MOBILE */
@media (max-width: 768px) {
  .login-p {
    width: 260px;
    font-size: 14px;
    line-height: 20px;
  }
}

/*💟*/
/**************
  T i t u l o
*************/
.h1-puppyPop {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  font-size: 1.8rem;
  font-weight: 900;
}

/* [Query] MOBILE */
@media (max-width: 768px) {
  .h1-puppyPop {
    font-size: 1.4rem;
  }
}

    /*💟*/
/**************
  I n p u t s
*************/
.user-h4 {
  margin: 8px 20%;
  font-size: 18px;
}
/* [Query] MOBILE */
@media (max-width: 768px) {
    .user-h4 {
       
        font-size: 14px;
      }
  }


.login-usuario {
font-size: 16px;
  margin: 0 clamp(20%, 3vw, 30%);
  padding: 6px 12px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 10px;
}

/* [Query] MOBILE */
@media (max-width: 768px) {
  .login-usuario {
    padding: 4px 8px;
    font-size: 14px;
  }
}

.password-usuario {
  margin: 0 clamp(20%, 3vw, 30%);
  padding: 6px 12px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 10px;
}

/* [Query] MOBILE */
@media (max-width: 768px) {
  .password-usuario {
    padding: 4px 8px;
    font-size: 14px;
  }
}

    /*💟*/
/******************
  R e c o r d a r
******************/
.olvidaste {
    margin: 0 clamp(20%, 3vw, 30%);
    color: #ff5fbf;
    font-weight: 500;
    font-size: 14px !important;
    text-decoration: underline;
    cursor: pointer;
  }




      /*💟*/
/******************
  B o t ó n
******************/
.login {
    align-self: center;
    background-color: #ff5fbf;
    color: white;
    padding: 12px 20px;
    margin-top: 32px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
  }
/* [Query] MOBILE */
  @media (max-width: 768px) {
    .login {
        padding: 8px 16px;
        font-size: 12px;
      }
  }


        /*💟*/
/******************
  R e g i s t r o
******************/

.register {
    align-self: center;
    font-weight: 500;
    font-size: 16px;
  }
/* [Query] MOBILE */
@media (max-width: 768px) {
    .register {
        font-size: 14px;
      }
  }
  .button-registrate {
    color: #ff5fbf;
    padding-left: 2px;
    text-decoration: underline;
  }

