@media (min-width: 768px) and (max-width: 1024px) {
 

  /***************
    L O G I N
  ****************/


  /* Mensaje */
  .login-p {
    align-self: center;
   
    text-align: center;
    margin-bottom: 32px;
  }
  


}
